<!-- npm init -y = for the package.json
npm install -g nodemon
npm i express ejs
And in package.json write under scripts = "start": "npx nodemon app.js" 
So you can just write npm start to run server 
Shift+Alt+F for resetting html code make it prettier-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hellooooo</h1>
</body>
</html>